body,
html {
    background-color: #ebecf0;
}

body,
p,
input,
select,
textarea,
button {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div,
p {
    color: #babecc;
    text-shadow: 1px 1px 1px #fff;
}

form {
    padding: 100px;
    width: 320px;
    margin: 0 auto;
    border: 2px solid #000;
}

.container {
    padding: 32px 0px;
    text-align: center;
}

button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input:focus {
    box-shadow: inset 1px 1px 2px #ebecf0, inset -1px -1px 2px #fff;
}

.submit {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
}
.submit:hover {
    background-color: #000;
    color: #fff;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #ebecf0;
}

.submit:active {
    box-shadow: inset 1px 1px 2px #ebecf0, inset -1px -1px 2px #fff;
}
